body {
  background-color: #f6f5eb !important;
  max-width: 700px !important;
  margin: auto !important;
}
table {
  direction: rtl;
  font-family: "DIN Next LT Arabic";
  text-align: center;
}
.wrapper {
  background-color: #f6f5eb !important;
  margin-top: 40px;
  border-radius: 10px;
}


h1 {
  font-family: "DIN Next LT Arabic";
  color: #148C76;
  text-align: center;
  padding-bottom: 3%;
}

.saudi-image {
  position: relative;
  width: 146px;
  max-width: 300px;
  margin-top: -70px;
  z-index: 999 !important;
  display: block;
}

.form {
  position: relative;
  background-color: white;
  border-radius: 5px;
  height: 400px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.answer {
 font-family: "DIN Next LT Arabic";
 margin-right: 20px !important;
 margin-left: 20px !important;
 margin-top: 5px !important;
 margin-bottom: 5px !important;
 font-size: 18px !important;
 color: #F2EFDC !important;
 border: none !important;
 background: linear-gradient(342deg, rgba(254,142,10,1) 4%, rgba(254,210,44,1) 99%, rgba(254,142,10,1) 100%);
 }

 .details {
  font-family: "DIN Next LT Arabic";
 margin-right: 20px !important;
 margin-left: 20px !important;
 margin-top: 5px !important;
 margin-bottom: 90px !important;
 font-size: 18px !important;
 color: #F2EFDC !important;
 border: none !important;
 background: linear-gradient(342deg, rgba(254,142,10,1) 4%, rgba(254,210,44,1) 99%, rgba(254,142,10,1) 100%);
 }

.answers {
  display: flex;
  flex-direction: column;
  margin: 10px !important;
  padding-bottom: 60px;
}

.answers2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-top: -50px !important;
}

.question {
  font-family: "DIN Next LT Arabic";
  font-size: 28px !important;
  display: flex;
  margin: auto !important;
  justify-self: center;
}

.word {
  font-weight: 600;
  padding-right:15px !important;
  padding-left: 15px !important;
  color: #148C76;
}

.myfooter {
  background: #F28E13;
    bottom: 0px;
  width: 100vw;
  font-family: "DIN Next LT Arabic";
  padding-right: 10px;
  font-size: 8px;
  height: 33px;
  color: #F2EFDC;
  position: fixed;
  max-width: 700px !important;
}

.signature {
  font-size: 12px !important;
  color: #F2EFDC !important;
  padding: 2px !important;
  padding-bottom: 18px !important;
  margin: 5px !important;
  height: 20px;
  border-radius: 2px !important;
  background-color: transparent !important;
  border: none !important;
}

.hide {
  display: none !important;
}

.result {
  font-family: "DIN Next LT Arabic";
  font-size: 28px !important;
  display: flex;
  margin: auto !important;
  justify-self: center;
  color: #424D8C;
}
.perc {
  direction: rtl;
  text-align: center;
  font-family: "DIN Next LT Arabic";
  font-weight: 600;
  color: #148C76;
}

.reg {
  text-align: center !important;
  font-family: "DIN Next LT Arabic";
}

.desc {
   font-size: 18px;
   text-align: center;
   color: black;
   margin-top: 90px !important;
   display: block;
}

.myprogress {
  margin-top: -5px;
  direction: rtl;
}

.progress-bar {
  background-color: #148C76 !important;
}

.uqu {
  width: 200px;
  margin: auto !important;
  display: block;
}

.modal {
  font-family: "DIN Next LT Arabic";
  text-align: center;
}

@media screen and (max-width: 400px) {
  h1 {
    font-family: "DIN Next LT Arabic";
    font-size: 34px !important;
    color: #148C76;
    text-align: center;
    padding-bottom: 30px !important;
  }
}

@media screen and (max-width: 600px) and (min-width: 400px){
  h1 {
    font-family: "DIN Next LT Arabic";
    font-size: 34px !important;
    color: #148C76;
    text-align: center;
    padding-bottom: 30px !important;
  }
}




