body {
  background-color: #F2EFDC !important;
  border-top: 30px solid #F28E13;
  max-width: 700px !important;
  margin: auto !important;
}

.wrapper {
  background-color: #F2EFDC !important;
  margin-top: 40px;
  border-radius: 10px;
}


h1 {
  font-family: "DIN Next LT Arabic";
  color: #357016;
  text-align: center;
  padding-bottom: 3%;
}

.saudi-image {
  position: absolute;
  width: 146px;
  max-width: 300px;
  bottom: 16%;
  left: 26%;
}

.form {
  position: relative;
  background-color: white;
  border-radius: 5px;
  height: 400px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.answer {
 font-family: "DIN Next LT Arabic";
 margin-right: 20px !important;
 margin-left: 20px !important;
 margin-top: 5px !important;
 margin-bottom: 5px !important;
 font-size: 18px !important;
 color: #F2EFDC !important;
 background-color: #FE8E0A !important;
}

.answers {
  display: flex;
  flex-direction: column;
  margin: 10px !important;
  padding-bottom: 60px;
}

.answers2 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-bottom: 60px;
  margin-top: -50px !important;
}

.question {
  font-family: "DIN Next LT Arabic";
  font-size: 34px !important;
  display: flex;
  margin: auto !important;
  justify-self: center;
}

.word {
  font-weight: 600;
  padding-right:15px !important;
  padding-left: 15px !important;
  color: #357016;
}

.myfooter {
  background-color: #F28E13;
  bottom: 0px;
  width: 100vw;
  font-family: "DIN Next LT Arabic";
  padding-right: 10px;
  font-size: 8px;
  height: 33px;
  color: #F2EFDC;
  position: fixed;
  max-width: 700px !important;
}

.signature {
  font-size: 10px !important;
  color: #F2EFDC !important;
  padding: 2px !important;
  padding-bottom: 18px !important;
  margin: 5px !important;
  height: 20px;
}

.hide {
  display: none !important;
}

.result {
  font-family: "DIN Next LT Arabic";
  font-size: 28px !important;
  display: flex;
  margin: auto !important;
  justify-self: center;
}
.perc {
  direction: rtl;
  text-align: center;
  font-family: "DIN Next LT Arabic";
  font-weight: 600;
  color: #357016;
}

.reg {
  text-align: center !important;
  font-family: "DIN Next LT Arabic";
}

.desc {
   font-size: 18px;
   text-align: center;
   color: black;
   margin-top: 90px !important;
   display: block;
}

.myprogress {
  margin-top: 60px;
  direction: rtl;

}

.progress-bar {
  background-color: #357016 !important;
}

.uqu {
  width: 200px;
  margin: auto !important;
  display: block;
}

.modal {
  font-family: "DIN Next LT Arabic";
  text-align: center;
}

@media screen and (max-width: 400px) {
  h1 {
    font-family: "DIN Next LT Arabic";
    font-size: 34px !important;
    color: #357016;
    text-align: center;
    padding-bottom: 30px !important;
  }

  .saudi-image {
    position: absolute;
    width: 146px;
    max-width: 300px;
    bottom: 8%;
    left: -9px;
  }
}

@media screen and (max-width: 600px) and (min-width: 400px){
  h1 {
    font-family: "DIN Next LT Arabic";
    font-size: 34px !important;
    color: #357016;
    text-align: center;
    padding-bottom: 30px !important;
  }

  .saudi-image {
    position: absolute;
    width: 146px;
    max-width: 300px;
    bottom: 17%;
    left: -9px;
  }
}



@media screen and (min-height: 800px) and (max-width: 600px) {

  .saudi-image {
    position: absolute;
    width: 146px;
    max-width: 300px;
    bottom: 30%;
    left: -9px;
  }
}


@media screen and (min-height: 800px) and (min-width: 701px) {

  .saudi-image {
    position: absolute;
    width: 146px;
    max-width: 300px;
    bottom: 40%;
    left: 40px;
  }
}

@media screen and (height: 812px) and (width: 375px) {

  .saudi-image {
    position: absolute;
    width: 146px;
    max-width: 300px;
    bottom: 25%;
  }
}

@media screen and (min-height: 800px) and (min-width: 801px) {

  .saudi-image {
    position: absolute;
    width: 146px;
    max-width: 300px;
    bottom: 38%;
    left: 600px;
  }
}